.loading {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
}
.container {
  width: 100%;
  direction: rtl;
}
.div {
  margin: 50px 0px;
}
.first {
  margin: 0px auto;
  padding: 30px 280px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.span {
  color: #26b9b0;
}
.btn {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background-color: #26b9b0;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s all;
}
.btn:hover {
  background-color: rgb(9, 80, 161);
}
.second {
  margin: 50px auto;
  padding: 30px 280px;
  direction: rtl;
}
.h2_second{
    text-align: center;
}
@media (max-width: 1700px) {
  .first {
    padding: 30px 50px;
  }
}
@media (max-width: 1310px) {
  .first {
    padding: 30px 10px;
  }
}

