.img_div {
  position: relative;
}
.content_div {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.img {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 550px;
}
.h1 {
  font-size: 5rem;
  color: white;
}
.content {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  font-size: 1.5rem;
}
