.img_div {
  position: relative;
}
.content_div {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.img {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 550px;
}
.h1 {
  font-size: 5rem;
  color: white;
}
.content {
  display: flex;
  justify-content: space-around;
  padding-top: 50px;
  font-size: 1.5rem;
}
@media (max-width: 1300px) {
  .h1{
    font-size: 3rem;
  }
  .content{
    font-size: 1rem;
  }
  .img{
    height: 400px;
  }
}
@media (max-width: 720px) {
  .h1{
    font-size: 2.3rem;
  }
  .content{
    font-size: 0.8rem;
  }
  .img{
    height: 300px;
  }
}
