.container {
  /* background-color: red; */
  width: 300px;
  border-radius: 10px 10px 5px 5px;
}
.img {
  width: 100%;
  height: 100%;
}
.h5 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  font-size: 16px;
  padding: 10px;
  text-align: right;
}
.duration {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.span {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}
.span_price {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  color: rgb(143, 143, 143);
}
.p_price {
  margin-left: 5px;
  font-size: 1rem;
  color: black;
}
.star_div {
  display: flex;
  direction: ltr;
  align-items: center;
  background-color: #e5faf8;
  padding: 3px 5px;
  border-radius: 5px;
}
.star_p {
  font-size: 0.8rem;
  margin-right: 3px;
}
.star {
  color: #facc16;
  font-size: 0.8rem;
  margin-bottom: 2px;
}
.calender_div {
  display: flex;
  align-items: center;
}
.calender {
  margin-bottom: 2px;
  margin-left: 2px;
  font-size: 1.2rem;
}
.transpotation {
  font-size: 1.3rem;
}
