.container {
  padding: 20px 20px;
  background-color: rgb(242, 242, 242);
  margin: 20px 0px;
  border-radius: 20px;
  width: 97%;
}
.title {
  color: #403f3f;
  margin: 0px 0px 5px 0px;
}
.accordion {
  width: 100%;
}

.accordionSummary {
  background-color: #f0f0f0;
}

.accordionDetails {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.1s ease;
}

.accordionDetails.open {
  max-height: 500px;
}

.accordionDetails.closed {
  max-height: 0;
}
