.container {
  display: flex;
  justify-content: center;
  margin: 100px 50px 20px 50px;
  direction: rtl;
  height: auto;
}
.rightContainer {
  width: 75%;
}
.leftContainer {
  width: 25%;
}
.swiper_div {
  width: 45%;
}
.top {
  display: flex;
  border-bottom: 3px solid #ededed;
  height: 550px;
}
.info_div {
  margin: 0px 30px;
  width: 100%;
}
.title {
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(237, 237, 237);
  width: 100%;
}
.price {
  border-bottom: 3px solid #ededed;
  padding: 0px 0px 5px 0px;
}
.time {
  border-bottom: 3px solid #ededed;
}
.accordion {
  border-bottom: 3px solid #ededed;
}
.services {
  border-bottom: 3px solid #ededed;
}
.residance {
  border-bottom: 3px solid #ededed;
}
.leader {
  border-bottom: 3px solid #ededed;
}
.law {
  border-bottom: 3px solid #ededed;
}
.description {
  border-bottom: 3px solid #ededed;
}
