.container {
  padding: 15px 15px;
  margin: 10px 0px;
  border-radius: 15px;
  border: 1px solid #e5e8ec;
}

.id {
  text-align: left;
  font-size: 0.8rem;
  margin: 0px 10px 5px 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e5e8ec;
}
.p {
  margin-top: 20px;
  font-size: 0.9rem;
}
.money_span {
  text-align: left;
  padding-top: 10px;
}
.money {
  font-weight: bolder;
  font-size: 1.4rem;
  padding-left: 5px;
}
.change {
  font-weight: lighter;
}
.quantity {
  border-bottom: 1px dashed #cbcbcb;
}
.quantity_div {
  display: flex;
  justify-content: center;
  border: 1px solid #dddddd;
  align-tracks: center;
  padding: 5px 0px;
  margin: 15px 0px;
}
.increase_btn {
  background-color: inherit;
  border: none;
  margin: 1px 15px 0px 15px;
  font-size: 1.5rem;
  color: #26b8af;
  cursor: pointer;
}
.decrease_btn_true {
  background-color: inherit;
  border: none;
  margin: 1px 15px 0px 15px;
  font-size: 1.5rem;
  color: #ff6666;
  cursor: pointer;
}
.decrease_btn_false {
  background-color: inherit;
  border: none;
  margin: 1px 15px 0px 15px;
  font-size: 1.5rem;
  cursor: pointer;
  color: #cbcbcb;
}
.span {
  font-size: 0.8rem;
  padding-right: 5px;
}
.total {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
}
.total p {
    font-size: 0.9rem;
}
