.container{
    margin: 25px 0px;
}
.title{
    color: #403F3F;
}
.weather{
    display: flex;
    margin: 10px 15px;
}
.p{
    padding-left: 20px;
    font-size: 0.9rem;
}
.description{
    display: flex;
    margin: 10px 15px;
}
.span{
    font-size: 0.9rem;
}