.container {
  padding: 5px 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.input_group {
  position: relative;
  width: 90%;
  text-align: right;
  direction: rtl;
  float: right;
}

.floating_label {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.8rem;
  color: #828282;
  pointer-events: none;
  transition: all 0.5s ease;
  background-color: white;
  padding: 0 5px;
  z-index: 1;
}

.input {
  width: 90%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s;
  background-color: white;
  text-align: right;
}

.input:focus {
  border-color: rgb(38, 184, 175);
}

.focused {
  top: 0px;
  font-size: 12px;
  color: #666;
}
.date {
  display: flex;
  align-items: center;
}
.date_p {
  margin-left: 10px;
  font-size: 0.8rem;
  width: 51px;
}
.select {
  padding: 10px 19px;
  font-size: 0.7rem;
  border-radius: 5px;
  border: 1px solid #cccccc;
}
.select:hover,
.select:active,
.select:focus,
select:focus-visible {
  border: 1px solid rgb(38, 184, 175);
}
.p_info {
  font-size: 0.8rem;
}